@model SkillSeek.Application.DTOs.Identity.RegistrationDto

@{
    ViewData["Title"] = "Professional Registration Request";
}

<div class="row">
	<div class="col-md-7">
		<form id="registration-form" class="row" method="post" enctype = "multipart/form-data" >
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating col-12 my-2">
				<input asp-for="Name" class="form-control" autocomplete="username" aria-required="true" />
				<label asp-for="Name" class="ps-4"></label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
				<label asp-for="Email" class="ps-4"></label>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="PhoneNumber" class="form-control" aria-required="true" />
				<label asp-for="PhoneNumber" class="ps-4"></label>
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="State" class="form-control" aria-required="true" />
				<label asp-for="State" class="ps-4"></label>
				<span asp-validation-for="State" class="text-danger"></span>
			</div>
			<div class="form-floating col-12 my-2">
				<div class="form-group">
					<select asp-for="ServiceId" class="form-select">
					<option disabled selected>Select a Service</option>
				</select>
				</div>
			</div>
			<div class="form-floating col-6 my-2">
				<div class="form-group">
					<label asp-for="ProfileImage" class="mb-2"></label>
					<input asp-for="ProfileImage" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif,.tif">
				</div>
			</div>
			<div class="form-floating col-6 my-2">
				<div class="form-group">
					<label asp-for="Resume" class="mb-2"></label>
					<input asp-for="Resume" class="form-control" type="file" name="resume" accept="application/pdf">
				</div>
			</div>
			<div class="form-floating col-6 my-2">
				<div class="form-group">
					<label asp-for="Certification" class="mb-2"></label>
					<input asp-for="Certification" class="form-control" type="file" name="certification" accept="application/pdf">
				</div>
			</div>
			<div class="form-floating col-12 my-2">
				<button id="registerSubmit" type="submit" class="w-100 btn btn-primary">Request a Registration</button>
			</div>
		</form>
	</div>
</div>