@model SkillSeek.Application.DTOs.Identity.RegisterDto

@{
    ViewData["Title"] = "User Registration";
}

<div class="row">
	<div class="col-md-7">
		<form id="register-form" class="row" method="post" enctype = "multipart/form-data" >
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating col-12 my-2">
				<input asp-for="Name" class="form-control" autocomplete="off" aria-required="true" />
				<label asp-for="Name" class="ps-4"></label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="Email" class="form-control" autocomplete="off" aria-required="true" />
				<label asp-for="Email" class="ps-4"></label>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="PhoneNumber" class="form-control" autocomplete="off" aria-required="true" />
				<label asp-for="PhoneNumber" class="ps-4"></label>
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-floating col-12 my-2">
				<input asp-for="State" class="form-control" autocomplete="off" aria-required="true" />
				<label asp-for="State" class="ps-4"></label>
				<span asp-validation-for="State" class="text-danger"></span>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="Password" id="initial" class="form-control" autocomplete="new-password" aria-required="true" />
				<label asp-for="Password" class="ps-4"></label>
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form col-6 my-4">
				<input type="checkbox" id="password" onclick="showPasswordInitial(this);" />
				Show Password
				<script type="text/javascript">
					function showPasswordInitial(check_box) {
						let sPassword = document.getElementById("initial");
						if (check_box.checked)
							sPassword.setAttribute("type", "text");
						else
							sPassword.setAttribute("type", "password");
					}
				</script>
			</div>
			<div class="form-floating col-6 my-2">
				<input asp-for="ConfirmPassword" id="final" class="form-control" autocomplete="new-password" aria-required="true" />
				<label asp-for="ConfirmPassword" class="ps-4"></label>
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<div class="form col-6 my-4">
				<input type="checkbox" id="passcode" onclick="showPasswordFinal(this);" />
				Show Password
				<script type="text/javascript">
					function showPasswordFinal(check_box) {
						let sPassword = document.getElementById("final");
						if (check_box.checked)
							sPassword.setAttribute("type", "text");
						else
							sPassword.setAttribute("type", "password");
					}
				</script>
			</div>
			<div class="form-floating col-6 my-2">
				<div class="form-group">
				<input asp-for="ProfileImage" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif,.tif">
			</div>
			</div>
			<div class="form-floating col-12 my-2">
				<button id="register-submit" type="submit" class="w-100 btn btn-primary">Register</button>
			</div>
		</form>
	</div>
</div>